{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Hello World</h1>
    <ul>
    {% for b in books %}
        <li>
            {{b.title}} - {{b.ISBN}} <a href="{% url 'update_book_route' book_id=b.id %}">Edit</a>
            <a href="{% url 'delete_book_route' book_id=b.id %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>