{% extends 'base.template.html' %}
{% load static %}


{%block content%}
    <h1>Hello World</h1>
    {% if request.user.is_authenticated %}
    <p>Welcome {{request.user}}</p>
    {% else %}
    <p>Please login <a href="accounts/login">here</a></p>
    {% endif %}
    <ul>
    {% for b in books %}
        <li>
            <a href="{%url 'book_details_route' book_id=b.id %}">{{b.title}}</a> - {{b.ISBN}} <a href="{% url 'update_book_route' book_id=b.id %}">Edit</a>
            <a href="{% url 'delete_book_route' book_id=b.id %}">Delete</a>
        </li>
    {% endfor %}
    </ul>
{%endblock%}