<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Website</th>
                <th></th>
            </tr>
        </thead>
        {% for p in publishers %}
        <tr>
            <td>{{p.name}}</td>
            <td>{{p.email}}</td>
            <td>{{p.website}}</td>
            <td>
                <a href="{% url 'delete_publisher_route' publisher_id=p.id %}">Delete</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>